.wrapper {
    min-height: 100vh;
}

.grad-home {
    background: linear-gradient(-45deg, #240b36, #c31432);
	background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
